body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
/* Hi! styling */
.hi-styling {
    color: #385895;
    font-weight: 800;
    -webkit-text-stroke: 0.07em #FFFFFF;
    paint-order: stroke fill;
}

/* I'm Clarice styling */
.intro-styling {
    color: #87B0FF;
    font-weight: 800;
    -webkit-text-stroke: 0.07em #FFFFFF;
    paint-order: stroke fill;
}

/* <Code/> styling */
.code-styling {
    color: #FFDFFC;
    font-weight: 800;
    -webkit-text-stroke: 0.1em #7C0202;
    paint-order: stroke fill;
}

/* Experience */
.white-outline {
    -webkit-text-stroke: 0.1em #FFFFFF;
    paint-order: stroke fill;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.fade-in-up.show {
    animation: fadeInUp 0.6s ease-out forwards;
}

/* Spin Animation (for poylgon :p) */
.spin {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* Speech Bubble */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(24px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-24px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.speech-bubble {
    opacity: 0;
    pointer-events: none;
}

.speech-bubble.visible-right {
    animation: fadeInRight 0.6s ease-out forwards;
    pointer-events: auto;
}

.speech-bubble.visible-left {
    animation: fadeInLeft 0.6s ease-out forwards;
    pointer-events: auto;
}
